.AppBar {
  display: flex;
  justify-content: space-between;
  padding: 20px;

  box-shadow: 0px 12px 12px -8px rgba(41, 67, 153, 0.56),
    inset 0px -12px 12px -12px rgba(41, 67, 153, 0.56);
  margin-bottom: 40px;
}
